.country{
    color: purple;
    border: 3px solid white;
}
.img{
    width: 200px;
    height: 200px;
}


/* media section or multi-screen */
@media(max-width:800px) {
    body{
        background-color: coral !important;
        width: 100%;
        font-size: 18px;
    }
}
@media(max-width:600px) {
    body{
        background-color: red !important;
        width: 100%;
        font-size: 18px;
    }
}
@media(max-width:400px) {
    body{
        background-color: wheat !important;
        width: 100%;
        font-size: 18px;
    }
}